body {
    background-color: rgb(144, 67, 85);
    color: rgb(72, 5, 5);
    font-family: Arial;
    margin: 0px;
}

body:link {
}

main {
    color: rgb(174, 36, 36);
    font-family: Arial;
    margin: 10px 20px 45px;
}

main:visited {
}

footer{
    background-color: rgb(123, 14, 74);
    color: rgb(190, 184, 196);
    font-family: Arial;
    margin: 0px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

footer:hover{
    color:red;
    opacity: 0.3;
    transition: 1s 2s;
}

header {
    background-color: rgb(123, 14, 74);
    color: rgb(221, 202, 209);
    font-family: Arial;
    margin: 0px;
}

header:active{
    color: pink;
    text-decoration: double;
    transition: 1s 2s;
}

div.menu {
    border: 7px solid #00880080;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}

div.menu:hover {
    background-color: #ffffff30;
    box-shadow: 0 0 15px #00000030;
}
