body {
    background-color: rgb(144, 67, 85);
    color: rgb(72, 5, 5);
    font-family: Arial;
    margin: 0px;
}

body:link {
}

main {
    background-color: rgb(207, 146, 92);
    color: rgb(174, 36, 36);
    font-family: Arial;
    margin: 0px;
}

main:visited {
}

footer{
    background-color: rgb(123, 14, 74);
    color: rgb(190, 184, 196);
    font-family: Arial;
    margin: 0px;
}

footer:hover{
    color:red;
    opacity: 0.3;
    transition: 1s 2s;
}

header {
    background-color: rgb(123, 14, 74);
    color: rgb(221, 202, 209);
    font-family: Arial;
    margin: 0px;
}

header:active{
    color: pink;
    text-decoration: double;
    transition: 1s 2s;
}
